# dependencies
/node_modules

# next.js
/.next/
/out/

# env — NUNCA subir credenciais
.env
.env.*
!.env.example

# generated prisma client
/generated/

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# OS
.DS_Store
Thumbs.db
